
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
  * {
    box-sizing: border-box;

}
header{
    font-family: 'Press Start 2P';
    text-align: center; 
    font-size: 30px; 
    color: rgb(241, 57, 180);

}
body{
    background: rgb(0, 0, 0);
    font-family: 'Press Start 2P';
    display: grid;
    place-items: center;
}
.gameboard{
    display: grid;
    grid-template-columns: .5fr 2fr .5fr 2fr .5fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    border-color: black;
    border: 5px solid rgb(28, 220, 66); 
    background-color: rgb(0, 0, 0); 
    height: 900px; 
    width:650px; 
    position: relative;
    border-radius: 25px;

    
}
.guess-container{
    grid-area: 2 / 2 / 5 / 3;
    box-sizing: border-box;
    width: 91%;
    height: 75vh;
    
    justify-content:center;
}
.guess-row{
    height: 10%;
    width: 100%;
    box-sizing: border-box;
    display: grid; 
    grid-template-columns: repeat(4, 90px);
}
.guess-peg{
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
#graderownada {
    display: grid; 
    grid-template-columns: repeat(4, 50px);
}
.grade-container{
    grid-area: 2 / 4 / 5 / 5; 
    height: 30.2vh; 
    width: 90%; 
    border-radius: 30px;
}
.grade-row{
    height: 25.6%;
    width: 100%;
    border-bottom:1px solid black; 
    display: grid; 
    grid-template-columns: repeat(4, 60px);
}
.grade-peg{
  height: 30px;
  width: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.selection-container{
    position: absolute;
    top: 600px; 
    right: 400px;
    
    z-index: 2; 
}
#pink {
    background-color: pink;
    width: 50px;
    height: 50px;
    border-color: white;
    border-radius: 50%;
    display: inline-block;
}
#blue {
    background-color: blue; 
    width: 50px;
    height: 50px;
    border-color: white;
    border-radius: 50%;
    display: inline-block;
}
#red {
    background-color: red;
    width: 50px;
    height: 50px;
    border-color: white;
    border-radius: 50%;
    display: inline-block;
}
#green {
    background-color: limegreen;
    width: 50px;
    height: 50px;
    border-color: white;
    border-radius: 50%;
    display: inline-block;
}
#yellow {
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-color: white;
    border-radius: 50%;
    display: inline-block;
}
#grey {
    background-color: rgb(117, 112, 112);
    width: 25px;
    height: 25px;
    border-color: white;
    border-radius: 50%;
    display: inline-block;
}
#white {
    background-color: white;
    width: 25px;
    height: 25px;
    border-color: white;
    border-radius: 50%;
    display: inline-block;
}

h2 {
    font-family: 'Press Start 2P';
    text-align: center; 
    font-size: 30px; 
    color: rgb(241, 57, 180);
    position: fixed;
    top: 10px; 
    right: 10px; 
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px;
    border-radius: 5px;
    z-index: 1100; 
}